*{
    margin: 0;
    padding: 0;
}
body{
    background: black;
    height: 100vh;
    width: 100%;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

    
    
}

nav{
    display: flex; 
    justify-content: space-between;  
    align-items: center;
    padding: 5px 17px;

}
#logo{
    height: 30px;
    width: 70px;
    color: white;
}

#nav-s-1{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
#nav-s-2{
    display: flex;
    background-color:  rgb(69, 65, 65);
    border-radius: 30px;
    color: black;
    border: 0.5px rgb(94, 93, 93) solid;
    justify-content: center;
    align-items: center;

    overflow: hidden;

}

#nav-s-2 input{
    background-color: rgb(69, 65, 65);
    border: none;
    height: 100%;
    width: 400px;
    padding: 7px 20px;

}
#nav-s-2 i{
    background-color: rgb(132, 130, 130);
    padding: 7px 20px;
    height:100%;
}


#nav-s-3 button{
    display: flex;
    padding: 5px;
    height: 30px;

}

#nav-s-3{
    display: flex;
    gap: 10px;
   
}

.btn1{
    display: flex;
     border-radius: 30px;
     background-color: rgb(86, 85, 85);
     height: 100%;
      border-style: solid;
}

#btn2{
    border-radius: 30px;
    background-color: rgb(86, 85, 85);
     border-style: solid;
}

#btn3{
     border-radius: 30px;
    background-color: rgb(86, 85, 85);
    border-style: solid;
}
#nav-s-4{
    display: flex;
    align-items: center;
}
#container{
    display: flex;
}
.menu{
    display: flex;
    flex-direction: column;
     align-items: center;
     font-size: 20px;
     gap: 5px;
     padding: 10px 5px;

}

.menu p{
    font-size: 8px;
}
.topics{
    padding:4px;
    background-color: rgb(58, 52, 52);
    border-radius: 7px;
    display: flex;
    

}
#video_container{
    display: flex;
    padding: 10;
    flex-wrap: wrap;
    
}
#topics{
    font-size: 12px;
    display:flex;
    gap:10px;
    margin: 15px;
    
}
.card{
    padding: 9px;
    
}
.card img{
      width: 370px;
      border-radius: 12px;
}
.info img{
    width: 30px;
    height: 30px;
}

.info{
    display: flex;
    gap: 10px;
    padding: 4px;
    font-size: 10px;
}

.video_title{
    font-size: 12px;
}

.video_info{
    font-size: 12px;
}
