*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    height: 100vh;
    color: white;
     font-size: Arial,sans-serif;
     padding-left: 40px;
    background-color:black;
   
}
    #Heading_of_webpage{
        font-family: Verdana,sans-serif;
        margin: 60px  0 20px 0 ;
        
    }

    #cards{
         background-color: rgb(219, 155, 72);
         padding: 30px;

         display: flex;
         border-radius: 10px;
         margin: 15px;
         gap: 20px;
    }
    .cards{
        background: linear-gradient(to bottom, white,black);
        padding:15px;
        border-radius: 15px;
        
        overflow: hidden;
        box-shadow: 0 8px 4px rgba(red, green, blue, alpha)
    }
    .cards img{
         border-radius: 5px;
         width: 300px;
         height:350px;
         object-fit: cover;
         border-radius: 10px;

    }
    button{
    
        border-radius: 6px;
        padding: 10px 15px;
        background-color: black;
        color: white;
        display:inline-block;
        margin-top: 10px;
        cursor: pointer;
        margin-right: 5px;
        
    }
    button:hover {
        background: #333;

    }
    .price{
        color: green;
        font-weight: bold;
        font-size: 18px;
        margin-top: 10px;
    }














